# any data folder
data/
# Build artifacts
build/
dist/
setup_tips.txt
# any log folder
log/
# any temp folder
temp/
# any cemetry folder
cemetry/
# node_modules folder
node_modules/

# static/ - commented out to allow data and video files for Netlify

# Video files
# Ignore globally, but allow video assets in static/video
*.mp4
*.webm
!*.webm.zip
!*.mp4.zip
!static/video/*.webm
!static/video/**/*.webm
!static/video/*.mp4
!static/video/**/*.mp4

# Environment variables
*.env
*.env.local
*.env.development
*.env.production
*.env.test

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs and databases
*.log
*.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Miscellaneous
.DS_Store