/* font stylers -- font stylers --font stylers --font stylers -- font stylers */

:root {
  --main-font: "Exo 2", sans-serif;
  --header-font: "Orbitron", sans-serif;
  --body-font: "Rajdhani", sans-serif;
  --slider-color: #e1c874; /* Golden color to match the update button */
}

/* general style -- general style --general style --general style -- general style */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
/* -- node info styles -- node info styles --node info styles --node info styles --node info styles -- */

#nodeInfoDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  color: white;
  padding: 10px;
  font-family: var(--body-font), sans-serif; /* Or your preferred font */
  font-weight: 100; /* Light font weight */
  font-size: 16px; /* Increase the font size */
  text-align: center; /* To center the text */
  display: none; /* Initially hide the div */
}

/* Year Slider styles */
#yearSliderContainer {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

#yearSlider {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin: 20px 0;
}

#yearSlider:hover {
  opacity: 1;
}

#yearSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--slider-color);
  cursor: pointer;
  box-shadow: 0 0 5px rgba(225, 200, 116, 0.5);
}

#yearSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--slider-color);
  cursor: pointer;
  box-shadow: 0 0 5px rgba(225, 200, 116, 0.5);
}

#currentYear {
  font-family: var(--header-font), sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: var(--slider-color);
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(225, 200, 116, 0.5);
}

/* Legend styles  Legend styles Legend styles Legend styles Legend styles Legend styles */

#legendDiv {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 90vh;
  overflow-y: auto;
  color: white;
  font-family: var(--body-font), sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.legend-item {
  margin: 5px 0;
  display: flex;
  flex-direction: column; /* Stack the color and text */
}

.legend-item-container {
  display: flex;
  align-items: center;
}

.legend-item span {
  color: white;
}

.fold-indicator {
  cursor: pointer;
  margin-right: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.legend-toggle {
  cursor: pointer;
  margin-left: 5px;
}

.legend-subtree {
  margin-left: 20px; /* Slight indentation for the subtree */
  display: none; /* Keep subtree hidden initially */
}

.legend-subtree .legend-item {
  margin-left: 0; /* No additional margin */
}

/* Base button styles */
.update-button {
  background-color: rgba(
    225,
    200,
    116,
    0.8
  ); /* Golden background with transparency */
  border: none;
  color: rgb(0, 0, 0);
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 2px;
  transition: transform 0.4s, box-shadow 0.4s;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3), 0 8px 15px rgba(0, 0, 0, 0.1);
  font-family: var(--body-font), sans-serif;
  font-weight: 100; /* Light font weight */
}

/* Hover effect */
.update-button:hover {
  background-color: rgba(225, 200, 116, 1); /* Solid golden background */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 12px 20px rgba(0, 0, 0, 0.3);
}

/* Active state */
.update-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Focus state */
.update-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

/* Shine effect */
.update-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  transition: left 0.5s ease;
}

.update-button:hover::before {
  left: 150%;
}
#colorLegendDiv {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--body-font), sans-serif;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.pharmacology {
  background-color: blue;
}
.indications {
  background-color: red;
}
.safety {
  background-color: green;
}
.other {
  background-color: purple;
}
